@import url('https://fonts.googleapis.com/css2?family=Alice&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&display=swap');

body {
    margin: 0;
    box-sizing: border-box;
    /* background-color: green; */
}

p {
    font-family: 'Alice', serif;
    margin: 0;
}


/* Header Title */

#header {
    text-align: center;
}

#header .head1 {
    padding: 15px 0 35px;
}

#header .head1 h1 {
    font-family: 'Sacramento', cursive;
    font-size: 50px;
    font-weight: 100;
    margin: 0;
    padding-bottom: 15px;
}

#header .head1 p {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 400;
    color: rgb(138, 132, 132);
    letter-spacing: 10px;
}

/* Menu Bars */

#menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 10%;
}

#menu p {
    font-weight: 700;
    color: rgb(73, 73, 73);
    cursor: pointer;
}

/* Main Images */

.head2 {

}

.head2 .images {
    position: relative;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

.head2 .images .imgMain {
    overflow: hidden;
    opacity: 0.65;
    width: 100%;
    height: 100%;
    object-position: 0 0%;
    object-fit: cover;
}

/* Countdown */

.insideImgText {    /*TEXT INSIDE MAIN IMG*/
    width: 100vw;
    position: absolute;
    top: 80px;
}

.insideImgText h1 {
    font-family: 'Sacramento', cursive;
    font-weight: 100;
    color: rgb(255, 255, 255);
    font-size: 5vw;
    line-height: 0.5;
}

.insideImgText p {
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.4vw;
    letter-spacing: 10px;
}

/* Countdown Feature */

.countdown {
    width: 100vw;
    display: flex;
    text-align: center;
    justify-content: space-around;
    position: absolute;
    right: 0;
    bottom: 50px;
    
}
.countdown .timeBox {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.664);
    color: rgb(0, 0, 0);
}
.countdown h1 {
    font-size: 30px;
    padding-top: 10px;
    line-height: 0.5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.countdown p {
    line-height: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
}


